<div id="map" map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}">
  <ng-map center="41,-87" zoom="3"></ng-map>
</div>

<!--<div class="wrapper">

  <div class="wrapper-earth">
    <div class="planet">
      <div class="earth"></div>
      <div class="water"></div>
      <div class="clouds"></div>
    </div>
  </div>

  <div class="planet-clouds">
    <div class="clouds"></div>
  </div>


<div class="sun">
  <div class="flare"></div>
  <div class="flare"></div>
  <div class="flare"></div>
  <div class="flare"></div>
</div>
</div>
-->
